
.loginbox {
    width: 440px;
    height: 440px;
    background: #74cfbf;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    opacity: 0.9;
}

h1 {
    margin: 0 0 30px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid grey;
    text-align: center;
    font-size: 25px;
    font-family: cosmic sans-serif;
}

.loginbox p {
    margin: 0 0 5px 10px;
    padding: 5px;
}


.loginbox input[type="password"], input[type="text"] {
    border: 1px grey solid;
    border-radius: 5px;
    padding: 0 0 0 10px;
    background: #F1FFF2;
    outline: none;
    height: 30px;
    color: #000;
    font-size: 16px;
    margin: 5px 0 20px 10px;
    width: 90%;
    position: relative;
}

.loginbox input[type="submit"] {
    border: solid 2px #09A600;
    border-radius: 7px;
    background: #B7FFB5;
    height: 35px;
    color: #000;
    font-size: 17px;
    margin: 5px 0 0px 10px;
    padding: 0;
    width: 93%;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #5EFF38;
}

.loginbox a:hover {
    font-weight: bold;
    color: green;
}


body, html {
	margin: 0;
	padding: 0;
    height: 100%;
    font-family: sans-serif;
    background-image: url('http://www.allwhitebackground.com/images/6/Book-Background-High-Quality-Image.jpg');
}

.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #74cfbf;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.form_container {
    margin-top: 10px;
}

#form-title{
    color: #fff;
}
.login_btn {
    width: 100%;
    background: #33ccff !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}