{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Online Portal</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'general/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'general/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'general/assets/css/footer.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'general/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'general/assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'general/assets/vendor/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'general/assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'general/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'general/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'general/assets/css/style.css' %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container-fluid">
      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">E-Learning Dashboard</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="assets/img/logo.jpg" alt=""></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="#intro">Home</a></li>
          <li><a href="#">Product Bundles</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Lecturer</a></li>
          <li class="menu-has-children"><a href="{% url "courses" %}">Levels</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- End Header -->


  
  <!-- ======= Intro Section ======= -->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="{% static 'general/assets/img/intro-carousel/1.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Leadership & Learning</h2>
                <p>Leadership and learning are indispensable to each other.– John F. Kennedy</p>
                <a href="{% url 'login' %}" class="btn-get-started scrollto">Login</a>
                <a href="{% url 'register' %}" class="btn-get-started scrollto">Sign up</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'general/assets/img/intro-carousel/2.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Live to Learn</h2>
                <p>“Live as if you were to die tomorrow. Learn as if you were to live forever.” – Mahatma Gandhi</p>
                <a href="{% url 'login' %}" class="btn-get-started scrollto">Login</a>
                <a href="{% url 'register' %}" class="btn-get-started scrollto">Sign up</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'general/assets/img/intro-carousel/3.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Knowledge is a Super Power</h2>
                <p>"That which we persist in doing becomes easier for us to do; not that the nature of the thing itself is changed, but that our power to do is increased." –Ralph Waldo Emerson</p>
                <a href="{% url 'login' %}" class="btn-get-started scrollto">Login</a>
                <a href="{% url 'register' %}" class="btn-get-started scrollto">Sign up</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="{% static 'general/assets/img/intro-carousel/4.jpg' %}" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Have a Broad Mind</h2>
                <p> ‘Man’s mind, once stretched by a new idea, never regains its original dimensions.’ –Oliver Wendell Holmes</p>
                <a href="{% url 'login' %}" class="btn-get-started scrollto">Login</a>
                <a href="{% url 'register' %}" class="btn-get-started scrollto">Sign up</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Intro Section -->

 <!-- ======= Services Section ======= -->
 <section id="services">
  <div class="container">

    <header class="section-header wow fadeInUp">
      <h3>Practice</h3>
      <p>Practice at your own will, brush up your skills and enhance your mind</p>
    </header>

    <div class="row">

      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
        <h4 class="title"><a href="">Timed Case Studies</a></h4>
        <p class="description">Real Time Cases delivers engaging, online-based case studies that let students address real problems facing relevant subjects in the moment.</p>
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-paper-outline"></i></div>
        <h4 class="title"><a href="">MCQ</a></h4>
        <p class="description">MCQ will be created according to your preferred subject and will be graded as soon as you submit your answer</p>
      </div>
      <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
        <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
        <h4 class="title"><a href="">Timed Mock Exams</a></h4>
        <p class="description">Timed mocks are available based on your subjects. They will be graded as soon as you end the exam</p>
      </div>
    </div>

  </div>
</section><!-- End Services Section -->

  <main id="main">
    <!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container">
        <div class="section-header wow fadeInUp">
          <h3>Lecturer</h3>
          <p>A committed senior lecturer with over 10 years of experience at leading UK academic institutions teaching students from various social and cultural backgrounds,. Possessing excellent administrative, verbal communication and written skills along with constructive and effective teaching methods that promote a stimulating learning environment. Able to work in a managerial role or as part of team and having the proven ability to successfully work to tight schedules and deadlines. Currently looking for suitable academic opportunities in universities or colleges of further education.</p>
        </div>
<div class="row">
          <div class="col-lg-3 col-md-6 wow fadeInUp">
            <div class="member" >
            <img src="{% static 'general/cimapage/images/Lecturer.jpg' %}" class="img-fluid" alt="">

              <div class="member-info">
                <div class="member-info-content">
                  <h4>Crishain Jayalath</h4>
                  <span>Lecturer at TOP CIMA SOLUTIONS</span>
                  <div class="social">
                    <a href="https://www.facebook.com/chrishain.jayalath"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/chrishain-jayalath-74129b76/?originalSubdomain=lk"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/total_cima_solutions/?hl=en"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>  
            </div>
          </div>
    </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contact Me</h3>
          <p>If you have any Questions or any problem regarding the subjects or the portal feel free to contact me all the details are provided below</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>No.09, Mapanawathura Road, Kandy</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+94773333734">+9477 3333 734</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:minura.samaranayake@gmail.com">chrishainj@gmail.com</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->


{% include 'General/footer.html' %}

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
 

  <!-- Vendor JS Files -->
  <script src="{% static 'general/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'general/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'general/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'general/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'general/assets/vendor/wow/wow.min.js' %}"></script>
  <script src="{% static 'general/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'general/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'general/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'general/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'general/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'general/assets/vendor/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'general/assets/vendor/hoverIntent/hoverIntent.js' %}"></script>
  <script src="{% static 'general/assets/vendor/jquery-touchswipe/jquery.touchSwipe.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'general/assets/js/main.js' %}"></script>

</body>

</html>