{% load static %}

<!doctype html>
<html lang="en">
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        <link rel="stylesheet" type="text/css" href="{% static 'general/assets/css/footer.css' %}">
        <link rel="stylesheet" href ="{% static 'general/assets/css/product.css' %}">
        <title>More Info</title>
    </head>
	<body>
		<div id="page">
			<header id="header">
				<div id="header-inner">
					<div id="top-nav">
						<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">ProductBundles</a></li>
						</ul>
					</div>
					<div class="clr"></div>
				</div>
            </header>
			<div class="feature1">
				<h1>Quick Purchase</h1>
			</div>
                 <img src="{% static 'general/assets/img/productimg/bg.jpg' %}"  width="100%"; height="50%">
			        <div class="clr"></div>
                    
                <div class="feature2">
                        <h1> Complete Course</h1>
                </div>

            <div class="clr"></div>
            <div id = "E1pack" class="E1" style = "display:none;">  
			<div class = "content2">
                <h3>CIMA E1 Complete Course</h3>
                <p><h4> Study text + Printable revision notes + Tuition Video + 5 Mock Exams + Exam Practise Kit</h4></p>
                <br> <h4><i>Coming Soon!</i></h4>
                <br> <b><h5> Full Details</h5></b>
            </div>
            <div class="clr"></div>

            <div class="feature3">
                <h1>Study Guides & tuition Videos</h1>
            </div>
           <div class="clr"></div>

           <div class = "content3">
                <div class="column">
                    <h3>CIMA E1 Printable study text</h3>
                    <p><h4> 14$</h4></p>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>	
                <div class="column">
                    <h3>CIMA E1 Revision Notes</h3>
                    <p><h4> 14$</h4></p>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>	
                <div class="column">
                    <h3>CIMA E1 Tuition videos </h3>
                    <p><h4> 14$</h4></p>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>
            </div>
            <div class="clr"></div>
                            
            <div class="feature4">
                <h1>Question Packs</h1>
            </div>
            <div class="clr"></div>

            <div id="content4" class = "content4">
                <div class="column">
                <div class = "content3">
                    <h3>E1 Mock Exam 01</h3>
                    <p><h4> 14$</h4></p>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>
                </div>	
                <div class="column">
                <div class = "content3">
                    <h3>E1 Mock Exam 02</h3>
                    <p><h4> 14$</h4></p>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>	
                </div>
                <div class="column">
                <div class = "content3">
                    <h3>E1 Mock Exam 03 </h3>
                    <p><h4> 14$</h4></p>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>
                </div>
                <div class="column">
                <div class = "content3">
                    <h3>E1 Mock Exam 04 </h3>
                    <p><h4> 14$</h4></p>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>
                </div>	
            </div>
            <div class="clr"></div>
        <div id="Content5" class="content5">
            <div class = "content3">
                <h3>CIMA E1 Printable study text</h3>
                <p><h4> 14$</h4></p>
            </div>
            <div class = "content3">
                <h3>CIMA E1 Revision Notes</h3>
                <p><h4> 14$</h4></p>
            </div>
            <div class = "content3">
                <h3>CIMA E1 Tuition videos </h3>
                <p><h4> 14$</h4></p>
            </div>
        <div class="clr"></div>
        <div class="column">
            <div class = "content3">
            <h3>E1 Mock Exam 01</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>
        </div>	
        <div class="column">
            <div class = "content3">
            <h3>E1 Mock Exam 02</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>	
        </div>
        <div class="column">
            <div class = "content3">
            <h3>E1 Mock Exam 03 </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>
        </div>
        <div class="column">
            <div class = "content3">
            <h3>E1 Mock Exam 04 </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>	
        </div>
        </div>
</div>    
<div id = "P1pack" class="P1" style = "display:none;" >  
        <div class = "content2">
            <h3>CIMA P1 Complete Course</h3>
            <p><h4> Study text + Printable revision notes + Tuition Video + 5 Mock Exams + Exam Practise Kit</h4></p>
            <br> <h4><i>Coming Soon!</i></h4>
            <br> <b><h5> Full Details</h5></b>
        </div>
        <div class="clr"></div>

        <div class="feature3">
            <h1>Study Guides & tuition Videos</h1>
        </div>
       <div class="clr"></div>

       <div class = "content3">
            <div class="column">
                <h3>CIMA P1 Printable study text</h3>
                <p><h4> 14$</h4></p>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>	
            <div class="column">
                <h3>CIMA P1 Revision Notes</h3>
                <p><h4> 14$</h4></p>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>	
            <div class="column">
                <h3>CIMA P1 Tuition videos </h3>
                <p><h4> 14$</h4></p>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>
        </div>
        <div class="clr"></div>
                        
        <div class="feature4">
            <h1>Question Packs</h1>
        </div>
        <div class="clr"></div>

        <div id="content4" class = "content4">
            <div class="column">
            <div class = "content3">
                <h3>P1 Mock Exam 01</h3>
                <p><h4> 14$</h4></p>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>
            </div>	
            <div class="column">
            <div class = "content3">
                <h3>P1 Mock Exam 02</h3>
                <p><h4> 14$</h4></p>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>	
            </div>
            <div class="column">
            <div class = "content3">
                <h3>P1 Mock Exam 03 </h3>
                <p><h4> 14$</h4></p>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>
            </div>
            <div class="column">
            <div class = "content3">
                <h3>P1 Mock Exam 04 </h3>
                <p><h4> 14$</h4></p>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>
            </div>	
        </div>
        <div class="clr"></div>
    <div id="Content5" class="content5">
        <div class = "content3">
            <h3>CIMA P1 Printable study text</h3>
            <p><h4> 14$</h4></p>
        </div>
        <div class = "content3">
            <h3>CIMA P1 Revision Notes</h3>
            <p><h4> 14$</h4></p>
        </div>
        <div class = "content3">
            <h3>CIMA P1 Tuition videos </h3>
            <p><h4> 14$</h4></p>
        </div>
    <div class="clr"></div>
    <div class="column">
        <div class = "content3">
        <h3>P1 Mock Exam 01</h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
    </div>	
    <div class="column">
        <div class = "content3">
        <h3>P1 Mock Exam 02</h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
    </div>
    <div class="column">
        <div class = "content3">
        <h3>P1 Mock Exam 03 </h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
    </div>
    <div class="column">
        <div class = "content3">
        <h3>P1 Mock Exam 04 </h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
    </div>
    </div>
</div>
<div id = "F1pack" class="F1" style = "display:none;" >  
    <div class = "content2">
        <h3>CIMA F1 Complete Course</h3>
        <p><h4> Study text + Printable revision notes + Tuition Video + 5 Mock Exams + Exam Practise Kit</h4></p>
        <br> <h4><i>Coming Soon!</i></h4>
        <br> <b><h5> Full Details</h5></b>
    </div>
    <div class="clr"></div>

    <div class="feature3">
        <h1>Study Guides & tuition Videos</h1>
    </div>
   <div class="clr"></div>

   <div class = "content3">
        <div class="column">
            <h3>CIMA F1 Printable study text</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>CIMA F1 Revision Notes</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>CIMA F1 Tuition videos </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
    </div>
    <div class="clr"></div>
                    
    <div class="feature4">
        <h1>Question Packs</h1>
    </div>
    <div class="clr"></div>

    <div id="content4" class = "content4">
        <div class="column">
        <div class = "content3">
            <h3>F1 Mock Exam 01</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        </div>	
        <div class="column">
        <div class = "content3">
            <h3>F1 Mock Exam 02</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        </div>
        <div class="column">
        <div class = "content3">
            <h3>F1 Mock Exam 03 </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        </div>
        <div class="column">
        <div class = "content3">
            <h3>F1 Mock Exam 04 </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        </div>	
    </div>
    <div class="clr"></div>
<div id="Content5" class="content5">
    <div class = "content3">
        <h3>CIMA F1 Printable study text</h3>
        <p><h4> 14$</h4></p>
    </div>
    <div class = "content3">
        <h3>CIMA F1 Revision Notes</h3>
        <p><h4> 14$</h4></p>
    </div>
    <div class = "content3">
        <h3>CIMA F1 Tuition videos </h3>
        <p><h4> 14$</h4></p>
    </div>
<div class="clr"></div>
<div class="column">
    <div class = "content3">
    <h3>F1 Mock Exam 01</h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
</div>	
<div class="column">
    <div class = "content3">
    <h3>F1 Mock Exam 02</h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>	
</div>
<div class="column">
    <div class = "content3">
    <h3>F1 Mock Exam 03 </h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
</div>
<div class="column">
    <div class = "content3">
    <h3>F1 Mock Exam 04 </h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>	
</div>
</div>
</div>
<div id = "E2pack" class ="E2" style = "display:none;">  
    <div class = "content2">
        <h3>CIMA E2 Complete Course</h3>
        <p><h4> Study text + Printable revision notes + Tuition Video + 5 Mock Exams + Exam Practise Kit</h4></p>
        <br> <h4><i>Coming Soon!</i></h4>
        <br> <b><h5> Full Details</h5></b>
    </div>
    <div class="clr"></div>

    <div class="feature3">
        <h1>Study Guides & tuition Videos</h1>
    </div>
   <div class="clr"></div>

   <div class = "content3">
        <div class="column">
            <h3>CIMA E2 Printable study text</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>CIMA E2 Revision Notes</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>CIMA E2 Tuition videos </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
    </div>
    <div class="clr"></div>
                    
    <div class="feature4">
        <h1>Question Packs</h1>
    </div>
    <div class="clr"></div>

    <div id="content4" class = "content4">
        <div class="column">
        <div class = "content3">
            <h3>E2 Mock Exam 01</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        </div>	
        <div class="column">
        <div class = "content3">
            <h3>E2 Mock Exam 02</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        </div>
        <div class="column">
        <div class = "content3">
            <h3>E2 Mock Exam 03 </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        </div>
        <div class="column">
        <div class = "content3">
            <h3>E2 Mock Exam 04 </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        </div>	
    </div>
    <div class="clr"></div>
<div id="Content5" class="content5">
    <div class = "content3">
        <h3>CIMA E2 Printable study text</h3>
        <p><h4> 14$</h4></p>
    </div>
    <div class = "content3">
        <h3>CIMA E2 Revision Notes</h3>
        <p><h4> 14$</h4></p>
    </div>
    <div class = "content3">
        <h3>CIMA E2 Tuition videos </h3>
        <p><h4> 14$</h4></p>
    </div>
<div class="clr"></div>
<div class="column">
    <div class = "content3">
    <h3>E2 Mock Exam 01</h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
</div>	
<div class="column">
    <div class = "content3">
    <h3>E2 Mock Exam 02</h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>	
</div>
<div class="column">
    <div class = "content3">
    <h3>E2 Mock Exam 03 </h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
</div>
<div class="column">
    <div class = "content3">
    <h3>E2 Mock Exam 04 </h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>	
</div>
</div>
</div>
<div id = "P2pack" class="P2" style = "display:none;" >  
    <div class = "content2">
        <h3>CIMA P2 Complete Course</h3>
        <p><h4> Study text + Printable revision notes + Tuition Video + 5 Mock Exams + Exam Practise Kit</h4></p>
        <br> <h4><i>Coming Soon!</i></h4>
        <br> <b><h5> Full Details</h5></b>
    </div>
    <div class="clr"></div>

    <div class="feature3">
        <h1>Study Guides & tuition Videos</h1>
    </div>
   <div class="clr"></div>

   <div class = "content3">
        <div class="column">
            <h3>CIMA P2 Printable study text</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>CIMA P2 Revision Notes</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>CIMA P2 Tuition videos </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
    </div>
    <div class="clr"></div>
                    
    <div class="feature4">
        <h1>Question Packs</h1>
    </div>
    <div class="clr"></div>

    <div id="content4" class = "content4">
        <div class="column">
        <div class = "content3">
            <h3>P2 Mock Exam 01</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        </div>	
        <div class="column">
        <div class = "content3">
            <h3>P2 Mock Exam 02</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        </div>
        <div class="column">
        <div class = "content3">
            <h3>P2 Mock Exam 03 </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        </div>
        <div class="column">
        <div class = "content3">
            <h3>P2 Mock Exam 04 </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        </div>	
    </div>
    <div class="clr"></div>
<div id="Content5" class="content5">
    <div class = "content3">
        <h3>CIMA P2 Printable study text</h3>
        <p><h4> 14$</h4></p>
    </div>
    <div class = "content3">
        <h3>CIMA P2 Revision Notes</h3>
        <p><h4> 14$</h4></p>
    </div>
    <div class = "content3">
        <h3>CIMA P2 Tuition videos </h3>
        <p><h4> 14$</h4></p>
    </div>
<div class="clr"></div>
<div class="column">
    <div class = "content3">
    <h3>P2 Mock Exam 01</h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
</div>	
<div class="column">
    <div class = "content3">
    <h3>P2 Mock Exam 02</h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>	
</div>
<div class="column">
    <div class = "content3">
    <h3>P2 Mock Exam 03 </h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
</div>
<div class="column">
    <div class = "content3">
    <h3>P2 Mock Exam 04 </h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>	
</div>
</div>
</div>
<div id = "F2pack" class="F2" style = "display:none;" >  
<div class = "content2">
    <h3>CIMA F2 Complete Course</h3>
    <p><h4> Study text + Printable revision notes + Tuition Video + 5 Mock Exams + Exam Practise Kit</h4></p>
    <br> <h4><i>Coming Soon!</i></h4>
    <br> <b><h5> Full Details</h5></b>
</div>
<div class="clr"></div>

<div class="feature3">
    <h1>Study Guides & tuition Videos</h1>
</div>
<div class="clr"></div>

<div class = "content3">
    <div class="column">
        <h3>CIMA F2 Printable study text</h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>	
    <div class="column">
        <h3>CIMA F2 Revision Notes</h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>	
    <div class="column">
        <h3>CIMA F2 Tuition videos </h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
</div>
<div class="clr"></div>
                
<div class="feature4">
    <h1>Question Packs</h1>
</div>
<div class="clr"></div>

<div id="content4" class = "content4">
    <div class="column">
    <div class = "content3">
        <h3>F2 Mock Exam 01</h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
    </div>	
    <div class="column">
    <div class = "content3">
        <h3>F2 Mock Exam 02</h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>	
    </div>
    <div class="column">
    <div class = "content3">
        <h3>F2 Mock Exam 03 </h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
    </div>
    <div class="column">
    <div class = "content3">
        <h3>F2 Mock Exam 04 </h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
    </div>	
</div>
<div class="clr"></div>
<div id="Content5" class="content5">
<div class = "content3">
    <h3>CIMA F2 Printable study text</h3>
    <p><h4> 14$</h4></p>
</div>
<div class = "content3">
    <h3>CIMA F2 Revision Notes</h3>
    <p><h4> 14$</h4></p>
</div>
<div class = "content3">
    <h3>CIMA F2 Tuition videos </h3>
    <p><h4> 14$</h4></p>
</div>
<div class="clr"></div>
<div class="column">
<div class = "content3">
<h3>F2 Mock Exam 01</h3>
<p><h4> 14$</h4></p>
<p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
</div>
</div>	
<div class="column">
<div class = "content3">
<h3>F2 Mock Exam 02</h3>
<p><h4> 14$</h4></p>
<p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
</div>	
</div>
<div class="column">
<div class = "content3">
<h3>F2 Mock Exam 03 </h3>
<p><h4> 14$</h4></p>
<p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
</div>
</div>
<div class="column">
<div class = "content3">
<h3>F2 Mock Exam 04 </h3>
<p><h4> 14$</h4></p>
<p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
</div>	
</div>
</div>
</div>
<div id = "E3pack" class ="E3" style = "display:none;">  
    <div class = "content2">
        <h3>CIMA E3 Complete Course</h3>
        <p><h4> Study text + Printable revision notes + Tuition Video + 5 Mock Exams + Exam Practise Kit</h4></p>
        <br> <h4><i>Coming Soon!</i></h4>
        <br> <b><h5> Full Details</h5></b>
    </div>
    <div class="clr"></div>

    <div class="feature3">
        <h1>Study Guides & tuition Videos</h1>
    </div>
   <div class="clr"></div>

   <div class = "content3">
        <div class="column">
            <h3>CIMA E3 Printable study text</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>CIMA E3 Revision Notes</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>CIMA E3 Tuition videos </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
    </div>
    <div class="clr"></div>
                    
    <div class="feature4">
        <h1>Question Packs</h1>
    </div>
    <div class="clr"></div>

    <div id="content4" class = "content4">
        <div class="column">
        <div class = "content3">
            <h3>E3 Mock Exam 01</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        </div>	
        <div class="column">
        <div class = "content3">
            <h3>E3 Mock Exam 02</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        </div>
        <div class="column">
        <div class = "content3">
            <h3>E3 Mock Exam 03 </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        </div>
        <div class="column">
        <div class = "content3">
            <h3>E3 Mock Exam 04 </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        </div>	
    </div>
    <div class="clr"></div>
<div id="Content5" class="content5">
    <div class = "content3">
        <h3>CIMA E3 Printable study text</h3>
        <p><h4> 14$</h4></p>
    </div>
    <div class = "content3">
        <h3>CIMA E3 Revision Notes</h3>
        <p><h4> 14$</h4></p>
    </div>
    <div class = "content3">
        <h3>CIMA E3 Tuition videos </h3>
        <p><h4> 14$</h4></p>
    </div>
<div class="clr"></div>
<div class="column">
    <div class = "content3">
    <h3>E3 Mock Exam 01</h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
</div>	
<div class="column">
    <div class = "content3">
    <h3>E3 Mock Exam 02</h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>	
</div>
<div class="column">
    <div class = "content3">
    <h3>E3 Mock Exam 03 </h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
</div>
<div class="column">
    <div class = "content3">
    <h3>E3 Mock Exam 04 </h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>	
</div>
</div>
</div>
<div id = "P3pack" class="P3" style = "display:none;" >  
    <div class = "content2">
        <h3>CIMA P3 Complete Course</h3>
        <p><h4> Study text + Printable revision notes + Tuition Video + 5 Mock Exams + Exam Practise Kit</h4></p>
        <br> <h4><i>Coming Soon!</i></h4>
        <br> <b><h5> Full Details</h5></b>
    </div>
    <div class="clr"></div>

    <div class="feature3">
        <h1>Study Guides & tuition Videos</h1>
    </div>
   <div class="clr"></div>

   <div class = "content3">
        <div class="column">
            <h3>CIMA P3 Printable study text</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>CIMA P3 Revision Notes</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>CIMA P3 Tuition videos </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
    </div>
    <div class="clr"></div>
                    
    <div class="feature4">
        <h1>Question Packs</h1>
    </div>
    <div class="clr"></div>

    <div id="content4" class = "content4">
        <div class="column">
        <div class = "content3">
            <h3>P3 Mock Exam 01</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        </div>	
        <div class="column">
        <div class = "content3">
            <h3>P3 Mock Exam 02</h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        </div>
        <div class="column">
        <div class = "content3">
            <h3>P3 Mock Exam 03 </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        </div>
        <div class="column">
        <div class = "content3">
            <h3>P3 Mock Exam 04 </h3>
            <p><h4> 14$</h4></p>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        </div>	
    </div>
    <div class="clr"></div>
<div id="Content5" class="content5">
    <div class = "content3">
        <h3>CIMA P3 Printable study text</h3>
        <p><h4> 14$</h4></p>
    </div>
    <div class = "content3">
        <h3>CIMA P3 Revision Notes</h3>
        <p><h4> 14$</h4></p>
    </div>
    <div class = "content3">
        <h3>CIMA P3 Tuition videos </h3>
        <p><h4> 14$</h4></p>
    </div>
<div class="clr"></div>
<div class="column">
    <div class = "content3">
    <h3>P3 Mock Exam 01</h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
</div>	
<div class="column">
    <div class = "content3">
    <h3>P3 Mock Exam 02</h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>	
</div>
<div class="column">
    <div class = "content3">
    <h3>P3 Mock Exam 03 </h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
</div>
<div class="column">
    <div class = "content3">
    <h3>P3 Mock Exam 04 </h3>
    <p><h4> 14$</h4></p>
    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>	
</div>
</div>
</div>
<div id = "F3pack" class="F3" style = "display:none;" >  
<div class = "content2">
    <h3>CIMA F3 Complete Course</h3>
    <p><h4> Study text + Printable revision notes + Tuition Video + 5 Mock Exams + Exam Practise Kit</h4></p>
    <br> <h4><i>Coming Soon!</i></h4>
    <br> <b><h5> Full Details</h5></b>
</div>
<div class="clr"></div>

<div class="feature3">
    <h1>Study Guides & tuition Videos</h1>
</div>
<div class="clr"></div>

<div class = "content3">
    <div class="column">
        <h3>CIMA F3 Printable study text</h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>	
    <div class="column">
        <h3>CIMA F3 Revision Notes</h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>	
    <div class="column">
        <h3>CIMA F3 Tuition videos </h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
</div>
<div class="clr"></div>
                
<div class="feature4">
    <h1>Question Packs</h1>
</div>
<div class="clr"></div>

<div id="content4" class = "content4">
    <div class="column">
    <div class = "content3">
        <h3>F3 Mock Exam 01</h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
    </div>	
    <div class="column">
    <div class = "content3">
        <h3>F3 Mock Exam 02</h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>	
    </div>
    <div class="column">
    <div class = "content3">
        <h3>F3 Mock Exam 03 </h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
    </div>
    <div class="column">
    <div class = "content3">
        <h3>F3 Mock Exam 04 </h3>
        <p><h4> 14$</h4></p>
        <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
    </div>
    </div>	
</div>
<div class="clr"></div>
<div id="Content5" class="content5">
<div class = "content3">
    <h3>CIMA F3 Printable study text</h3>
    <p><h4> 14$</h4></p>
</div>
<div class = "content3">
    <h3>CIMA F3 Revision Notes</h3>
    <p><h4> 14$</h4></p>
</div>
<div class = "content3">
    <h3>CIMA F3 Tuition videos </h3>
    <p><h4> 14$</h4></p>
</div>
<div class="clr"></div>
<div class="column">
<div class = "content3">
<h3>F3 Mock Exam 01</h3>
<p><h4> 14$</h4></p>
<p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
</div>
</div>	
<div class="column">
<div class = "content3">
<h3>F3 Mock Exam 02</h3>
<p><h4> 14$</h4></p>
<p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
</div>	
</div>
<div class="column">
<div class = "content3">
<h3>F3 Mock Exam 03 </h3>
<p><h4> 14$</h4></p>
<p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
</div>
</div>
<div class="column">
<div class = "content3">
<h3>F3 Mock Exam 04 </h3>
<p><h4> 14$</h4></p>
<p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
</div>	
</div>
</div>
</div>
<div id = "OPCaseStudy" class="OPCaseStudy" style = "display:none;" >  
    <div class = "content2">
        <h3>CIMA OPERATIONAL CASE STUDY</h3>
    <div class="clr"></div>
    <div id="Content5" class="content5">
        <div class = "content3">
            <h3>CIMA Operational Case Study Complete Course</h3>
            <h4>One Off Payment of...</h4>
            <p><h4> 99$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        <div class = "content3">
            <h3>Complete Course installment options</h3>
            <h4>3 Monthly Payment of...</h4>
            <p><h4> 99$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        <div class="feature4">
            <h1>Study Guides and Tutoin Videos</h1>
        </div>
        <div class="clr"></div>
    
        <div id="content4" class = "content4">
            <div class="column">
            <div class = "content3">
                <h3>Study Text Part 01</h3>
                <p><h4> 14$</h4></p>
                <h5> Full Details</h5>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>
            </div>	
            <div class="column">
            <div class = "content3">
                <h3>Study Text Part 02</h3>
                <p><h4> 14$</h4></p>
                <h5> Full Details</h5>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>	
            </div>
            <div class="column">
            <div class = "content3">
                <h3> New Content </h3>
                <p><h4> 14$</h4></p>
                <h5> Full Details</h5>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>
            </div>
            <div class="column">
            <div class = "content3">
                <h3>Ethics Pack</h3>
                <p><h4> 14$</h4></p>
                <h5> Full Details</h5>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>
            </div>
            <div class="clr"></div>
            <div class="column">
                <div class = "content3">
                    <h3>Tuition Video Part 01</h3>
                    <p><h4> 14$</h4></p>
                    <h5> Full Details</h5>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>
                </div>
            <div class="column">
                <div class = "content3">
                    <h3>Tuition Video Part 02</h3>
                    <p><h4> 14$</h4></p>
                    <h5> Full Details</h5>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>	
                </div>
                <div class="column">
                <div class = "content3">
                    <h3> New Content </h3>
                    <p><h4> 14$</h4></p>
                    <h5>Full Details</h5>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>
                </div>
                <div class="column">
                <div class = "content3">
                    <h3>Tuition Video Parts 1-3</h3>
                    <p><h4> 14$</h4></p>
                    <h5> Full Details</h5>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>
                </div>

        </div>
    </div>
    <div class="clr"></div>

    <div class="feature3">
        <h1>Pre analysis materials</h1>
    </div>
   <div class="clr"></div>

   <div class = "content3">
        <div class="column">
            <h3>pre-seen analysis Video</h3>
            <p><h4> 14$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>Strategic Analysis Document+Video</h3>
            <p><h4> 14$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>Top 10 issues Document+Videos </h3>
            <p><h4> 14$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
   </div>
        <div class="clr"></div>
    <div class = "content3">
        <div class="column">
            <h3>Industry Analysis Document+ Video</h3>
            <p><h4> 14$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>Pre-seen Knowledge Questions</h3>
            <p><h4> 14$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3> Complete Pre-seen Pack </h3>
            <p><h4> 14$ </h4></p>
            <h5> Full Details</h5>
            <p><br><button type ="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
    </div>
    <div class="clr"></div>    
</div>
</div>    
<div id = "MGCaseStudy" class="MGCaseStudy" style = "display:none;" >  
    <div class = "content2">
        <h3>CIMA MANAGEMENT CASE STUDY</h3>
    <div class="clr"></div>
    <div id="Content5" class="content5">
        <div class = "content3">
            <h3>CIMA Management Case Study Complete Course</h3>
            <h4>One Off Payment of...</h4>
            <p><h4> 99$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        <div class = "content3">
            <h3>Complete Course installment options</h3>
            <h4>3 Monthly Payment of...</h4>
            <p><h4> 99$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        <div class="feature4">
            <h1>Study Guides and Tutoin Videos</h1>
        </div>
        <div class="clr"></div>
    
        <div id="content4" class = "content4">
            <div class="column">
            <div class = "content3">
                <h3>Study Text Part 01</h3>
                <p><h4> 14$</h4></p>
                <h5> Full Details</h5>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>
            </div>	
            <div class="column">
            <div class = "content3">
                <h3>Study Text Part 02</h3>
                <p><h4> 14$</h4></p>
                <h5> Full Details</h5>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>	
            </div>
            <div class="column">
            <div class = "content3">
                <h3> New Content </h3>
                <p><h4> 14$</h4></p>
                <h5> Full Details</h5>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>
            </div>
            <div class="column">
            <div class = "content3">
                <h3>Ethics Pack</h3>
                <p><h4> 14$</h4></p>
                <h5> Full Details</h5>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>
            </div>
            <div class="clr"></div>
            <div class="column">
                <div class = "content3">
                    <h3>Tuition Video Part 01</h3>
                    <p><h4> 14$</h4></p>
                    <h5> Full Details</h5>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>
                </div>
            <div class="column">
                <div class = "content3">
                    <h3>Tuition Video Part 02</h3>
                    <p><h4> 14$</h4></p>
                    <h5> Full Details</h5>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>	
                </div>
                <div class="column">
                <div class = "content3">
                    <h3> New Content </h3>
                    <p><h4> 14$</h4></p>
                    <h5>Full Details</h5>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>
                </div>
                <div class="column">
                <div class = "content3">
                    <h3>Tuition Video Parts 1-3</h3>
                    <p><h4> 14$</h4></p>
                    <h5> Full Details</h5>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>
                </div>

        </div>
    </div>
    <div class="clr"></div>

    <div class="feature3">
        <h1>Pre analysis materials</h1>
    </div>
   <div class="clr"></div>

   <div class = "content3">
        <div class="column">
            <h3>pre-seen analysis Video</h3>
            <p><h4> 14$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>Strategic Analysis Document+Video</h3>
            <p><h4> 14$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>Top 10 issues Document+Videos </h3>
            <p><h4> 14$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
   </div>
        <div class="clr"></div>
    <div class = "content3">
        <div class="column">
            <h3>Industry Analysis Document+ Video</h3>
            <p><h4> 14$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>Pre-seen Knowledge Questions</h3>
            <p><h4> 14$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3> Complete Pre-seen Pack </h3>
            <p><h4> 14$ </h4></p>
            <h5> Full Details</h5>
            <p><br><button type ="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
    </div>
    <div class="clr"></div>    
</div>
</div>
<div id = "STCaseStudy" class="STCaseStudy" style = "display:none;" >  
    <div class = "content2">
        <h3>CIMA STRATEGIC CASE STUDY</h3>
    <div class="clr"></div>
    <div id="Content5" class="content5">
        <div class = "content3">
            <h3>CIMA Strategic Case Study Complete Course</h3>
            <h4>One Off Payment of...</h4>
            <p><h4> 99$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        <div class = "content3">
            <h3>Complete Course installment options</h3>
            <h4>3 Monthly Payment of...</h4>
            <p><h4> 99$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
        <div class="feature4">
            <h1>Study Guides and Tutoin Videos</h1>
        </div>
        <div class="clr"></div>
    
        <div id="content4" class = "content4">
            <div class="column">
            <div class = "content3">
                <h3>Study Text Part 01</h3>
                <p><h4> 14$</h4></p>
                <h5> Full Details</h5>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>
            </div>	
            <div class="column">
            <div class = "content3">
                <h3>Study Text Part 02</h3>
                <p><h4> 14$</h4></p>
                <h5> Full Details</h5>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>	
            </div>
            <div class="column">
            <div class = "content3">
                <h3> New Content </h3>
                <p><h4> 14$</h4></p>
                <h5> Full Details</h5>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>
            </div>
            <div class="column">
            <div class = "content3">
                <h3>Ethics Pack</h3>
                <p><h4> 14$</h4></p>
                <h5> Full Details</h5>
                <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
            </div>
            </div>
            <div class="clr"></div>
            <div class="column">
                <div class = "content3">
                    <h3>Tuition Video Part 01</h3>
                    <p><h4> 14$</h4></p>
                    <h5> Full Details</h5>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>
                </div>
            <div class="column">
                <div class = "content3">
                    <h3>Tuition Video Part 02</h3>
                    <p><h4> 14$</h4></p>
                    <h5> Full Details</h5>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>	
                </div>
                <div class="column">
                <div class = "content3">
                    <h3> New Content </h3>
                    <p><h4> 14$</h4></p>
                    <h5>Full Details</h5>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>
                </div>
                <div class="column">
                <div class = "content3">
                    <h3>Tuition Video Parts 1-3</h3>
                    <p><h4> 14$</h4></p>
                    <h5> Full Details</h5>
                    <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
                </div>
                </div>

        </div>
    </div>
    <div class="clr"></div>

    <div class="feature3">
        <h1>Pre analysis materials</h1>
    </div>
   <div class="clr"></div>

   <div class = "content3">
        <div class="column">
            <h3>pre-seen analysis Video</h3>
            <p><h4> 14$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>Strategic Analysis Document+Video</h3>
            <p><h4> 14$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>Top 10 issues Document+Videos </h3>
            <p><h4> 14$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
   </div>
        <div class="clr"></div>
    <div class = "content3">
        <div class="column">
            <h3>Industry Analysis Document+ Video</h3>
            <p><h4> 14$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3>Pre-seen Knowledge Questions</h3>
            <p><h4> 14$</h4></p>
            <h5> Full Details</h5>
            <p><br><button type="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>	
        <div class="column">
            <h3> Complete Pre-seen Pack </h3>
            <p><h4> 14$ </h4></p>
            <h5> Full Details</h5>
            <p><br><button type ="button" onclick="alert('You pressed the button!')"> Add to Basket </button></p>
        </div>
    </div>
    <div class="clr"></div>    
</div>
</div>

<div style="background: #109E00; padding: 50px; margin-top: 0px;" class="clr"></div>

    <!----------- Footer Start ------------>
    
    <footer class="ftfooter-bs">
        <div class="ftrow">
            <div class="ftcol-md-3 ftfooter-brand animated fadeInLeft">
                <h2>CIMA</h2>
                <p>The Chartered Institute of Management Accountants is a UK based professional body offering training and qualification in management accountancy and related subjects. It is focused on accountants working in industry, and provides ongoing support and training for members.</p>
                <p>© 2020 TCS</p>
            </div>
            <div class="ftcol-md-4 ftfooter-nav animated fadeInUp">
                <h4>Menu —</h4>
                <div class="ftcol-md-6">
                    <ul class="ftpages">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Nature</a></li>
                        <li><a href="#">Explores</a></li>
                        <li><a href="#">Purchase</a></li>
                        <li><a href="#">Advice</a></li>
                    </ul>
                </div>
                <div class="ftcol-md-6">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="ftcol-md-2 ftfooter-social animated fadeInUp">
                <h4>Follow Us</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">RSS</a></li>
                </ul>
            </div>
            <div class="ftcol-md-3 ftfooter-ns animated fadeInRight">
                <h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                <p>
                    <div class="ftinput-group">
                      <input type="text" class="ftform-control" placeholder="Search for...">
                      <span class="ftinput-group-btn">
                        <button class="ftbtn ftbtn-default" type="button"><span class="ftglyphicon ftglyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
    </footer>
    <section style="text-align:center; margin:10px auto;"><p> &copy; Copyright <strong>E-Learning Dashboard</strong>. All Rights Reserved</p></section>
    
<!----------- Footer End ------------>

<script type="text/javascript" src="{% static 'general/assets/js/more.js' %}"></script>    
</body>
</html>