{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'general/assets/css/footer.css' %}">
    <link rel="stylesheet" href ="{% static 'general/assets/css/product.css' %}">
    <title>Product Bundle Page</title>
    </head>
	<body>
		<div id="page">
			<header id="header">
				<div id="header-inner">
					<div id="top-nav">
						<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">ProductBundles</a></li>
						</ul>
					</div>
					<div class="clr"></div>
				</div>
			</header>
			<div class="feature1">
				<h1>Product Bundles</h1>
			</div>
            <img src="{% static 'general/assets/img/productimg/2.jpg' %}"  width="100%"; height="50%">
            <div class="clr"></div>
            
    <div id="all">        
        <div class="feature">
            <h1>CIMA Operational Level</h1>
        </div>
        <div class="clr"></div>
        
    
		    <div class="column">
                        <img src="{% static 'general/assets/img/productimg/3.jpg' %}"width="250px">
                        <p><br><button id ="E1" type="button" onclick= "product(this.id)"> CIMA E1 >> </button></p>
            </div>	
			<div class="column">
                        <img src="{% static 'general/assets/img/productimg/4.jpg' %}"width="250px">
                        <p><br><button id ="P1" type="button" onclick="product(this.id)"> CIMA P1 >> </button></p>
			</div>
			<div class="column">
                        <img src="{% static 'general/assets/img/productimg/5.jpg' %}"width="250px">
                        <p><br><button id ="F1" type="button" onclick="product(this.id)"> CIMA F1 >></button></p>
            </div>	
            <div class="column">
                        <img src="{% static 'general/assets/img/productimg/7.jpg' %}" width="250px">
                        <p><br><button id ="ocs" type="button" onclick="product(this.id)"> Operational Case Study >>  </button></p>
            </div>
        <div class="clr"></div>

            <div class="feature">
            <h1>CIMA Management Level</h1>
            </div>
         <div class="clr"></div>


        
            <div class="column">
                        <img src= "{% static 'general/assets/img/productimg/6.jpg' %}" width="250px">
                        <p><br><button id ="E2" type="button" onclick="product(this.id)"> CIMA E2 >> </button></p>
            </div>	
            <div class="column">
                        <img src="{% static 'general/assets/img/productimg/8.jpg' %}" width="250px">
                        <p><br><button id ="P2" type="button" onclick="product(this.id)">CIMA P2 >> </button></p>
            </div>
            <div class="column">
                        <img src="{% static 'general/assets/img/productimg/g5.jpg' %}" width="250px">
                        <p><br><button id ="F2" type="button" onclick="product(this.id)"> CIMA F2 >> </button></p>
            </div>	
            <div class="column">
                        <img src="{% static 'general/assets/img/productimg/10.jpg' %}" width="250px">
                        <p><br><button id ="mcs" type="button" onclick="product(this.id)">  Management Case Study >></button></p>
            </div>   
        <div class="clr"></div>
            <div class="feature">
                <h1>CIMA Strategic Level</h1>
            </div>
        <div class="clr"></div>

            <div class="column">
                        <img src="{% static 'general/assets/img/productimg/g9.jpg' %}" width="250px">
                        <p><br><button id ="E3" type="button" onclick="product(this.id)"> CIMA P3 >> </button></p>
            </div>	
            <div class="column">
                        <img src="{% static 'general/assets/img/productimg/g8.jpg' %}" width="250px">
                        <p><br><button id ="P3" type="button" onclick="product(this.id)"> CIMA E3 >> </button></p>
            </div>
            <div class="column">
                        <img src="{% static 'general/assets/img/productimg/g2.jpg' %}" width="250px">
                        <p><br><button id ="F3" type="button" onclick="product(this.id)"> CIMA F3 >> </button></p>
            </div>	
            <div class="column">
                        <img src="{% static 'general/assets/img/productimg/11.jpg' %}" width="250px">
                        <p><br><button id ="scs" type="button" onclick="product(this.id)"> Strategic Case Study>> </button></p>
            </div> 
                                            
        <div class="clr"></div>
         </div>                   
                    </class>
				
            </div>

<div style="background: #109E00; padding: 50px; margin-top: 0px;" class="clr"></div>

    <!----------- Footer Start ------------>
    
    <footer class="ftfooter-bs">
        <div class="ftrow">
            <div class="ftcol-md-3 ftfooter-brand animated fadeInLeft">
                <h2>CIMA</h2>
                <p>The Chartered Institute of Management Accountants is a UK based professional body offering training and qualification in management accountancy and related subjects. It is focused on accountants working in industry, and provides ongoing support and training for members.</p>
                <p>© 2020 TCS</p>
            </div>
            <div class="ftcol-md-4 ftfooter-nav animated fadeInUp">
                <h4>Menu —</h4>
                <div class="ftcol-md-6">
                    <ul class="ftpages">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Nature</a></li>
                        <li><a href="#">Explores</a></li>
                        <li><a href="#">Purchase</a></li>
                        <li><a href="#">Advice</a></li>
                    </ul>
                </div>
                <div class="ftcol-md-6">
                    <ul class="list">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contacts</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="ftcol-md-2 ftfooter-social animated fadeInUp">
                <h4>Follow Us</h4>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">RSS</a></li>
                </ul>
            </div>
            <div class="ftcol-md-3 ftfooter-ns animated fadeInRight">
                <h4>Newsletter</h4>
                <p>A rover wearing a fuzzy suit doesn’t alarm the real penguins</p>
                <p>
                    <div class="ftinput-group">
                      <input type="text" class="ftform-control" placeholder="Search for...">
                      <span class="ftinput-group-btn">
                        <button class="ftbtn ftbtn-default" type="button"><span class="ftglyphicon ftglyphicon-envelope"></span></button>
                      </span>
                    </div><!-- /input-group -->
                 </p>
            </div>
        </div>
    </footer>
    <section style="text-align:center; margin:10px auto;"><p> &copy; Copyright <strong>E-Learning Dashboard</strong>. All Rights Reserved</p></section>
    
<!----------- Footer End ------------>


    <script type="text/javascript" src="{% static 'general/assets/js/product.js' %}"></script>	
	</body>
</html>