{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Strategic Level</title>
    <link href="{% static 'general/assets/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'general/cimapage/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"> </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"> </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
      </head>
        <body>
          {% include 'General/navbar.html' %}
        
    <section id="stratbox">
        <div class="container">
            <h1>CIMA Strategic Level</h1>
         
</div>
        </section>
         <!---strategic level content----->
        <section id="stratcontent">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
            <h2> CIMA Strategic Level</h2>
                    <div class="strat-content">
                    CIMA Strategic Level is examined by three computer-based assessments which are called Objective Tests and Strategic Case Study exam. Since the introduction of the case study into the syllabus since 2015, we have produced over seventy percent of the CIMA graduates in the country. Wisdom has also produced 16 out of 18 CIMA Strategic Case Study prizes since 2015 which is a clear indication of the teaching excellence Wisdom has continued to maintain. Strategic level aims to develop the skills and abilities of organizational leaders in a strategic manner, enabling them to create the vision, direction for the growth and long-term sustainable success of the organization
                    </div>
                </div>
                 <div class="col-md-6">
                <img src="{% static 'general/cimapage/images/cima-strategic-level.png' %}">
                </div>
            </div>
            </div>
         </section>
        
        <!-------CIMA stretegic @ TCS------->
            <section id="strattcs">
                <div class="container">
                <div class="row">
                <div class="col-md-6">
            <h2> CIMA Strategic Level @ TCS</h2>
                    <div class="strat-tcs">
                   Add why student chooses TCS
                    </div>
                </div>
                 <div class="col-md-6">
                <img src="{% static 'general/cimapage/images/strategic%20plan.jpg' %}">
                </div>
            </div>
            </div>
            </section>
    </body>
    <!---------Syllabus--------->
    <section id="syllubusstrat">
    
    <div class="container">
            <div class="row">
                <div class="col-md-6">
            <h2> Syllabus</h2>
                    <div class="syllbusstrat-content">
                        The three OTQ subjects at CIMA Strategic Level can be sat in any order and in any combination. Once the Objective Test Exams are completed, candidates can sit for their final examination at this level, CIMA Strategic Level Case Study, which is a three-hour online exam. Strategic Level Subjects Are:<br/>
                        <a href="https://www.cimaglobal.com/Qualifications/Professional-Qualification/Strategic-level/">E3- Strategic Management</a> <br/>
                        <a href="https://www.cimaglobal.com/Qualifications/Professional-Qualification/Strategic-level/">P3- Risk Management</a><br/>
                        <a href="https://www.cimaglobal.com/Qualifications/Professional-Qualification/Strategic-level/">F3-Financial Strategy</a><br/>
                        <a href="https://www.cimaglobal.com/Qualifications/Professional-Qualification/Strategic-level/">Strategic Case Study Exam (SCS)</a><br/>
                         
                    </div>
                </div>
                 <div class="col-md-6">
                     <h2>Course Fee</h2>
                <ul class="list-group">
  <li class="list-group-item">1 subject- Price</li>
  <li class="list-group-item">2 subject- Price</li>
  <li class="list-group-item">3 subject- Price</li>
  <li class="list-group-item">case study- Price</li>
  
</ul>
                </div>
            </div>
            </div>
    
    </section>
    
    <section id="intake">
    <div class="container">
        <h2> Certificate Level Intakes</h2>
        Add intakes to a list<br/>
        
                <ul class="list-group">
  <li class="list-group-item">intake 1- month</li>
  <li class="list-group-item">intake 2- month</li>
  
</ul>
        </div>
    
    
    </section>
    {% include 'General/footer.html' %}
</body>
</html>