


#content h1 {
	margin: auto;
	margin: 0 40px 50px 40px;
	padding-bottom: 30px;
	text-align: center;
	border-bottom: 1px solid grey;
}

.flexbox-container button {
	height: 130px;
	width: 130px;
	border-radius: 5px;
	border: 3px solid white;
	margin: 0 0 0 20px;
	background: #BFD6BD;
}

.flexbox-container button:hover {
	border: 3px solid grey;
	font-weight: bold;
	background: #DDF7DA;
}