*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", Arial, sans-serif;
}
body{

    
    line-height: 1.8;
    font-weight: normal;
    text-align: left;
    background-image: url('https://storage.needpix.com/rsynced_images/green-sidelight-background.jpg');
    background-size: cover;


}

.wrapper{
    height: 100%;
    display: flex;
    position: relative;  
   
}

.wrapper .content{
    width: 100%;
    margin-left: 250px;
    border-collapse: collapse;
     font-size: 20px;
    min-width: 400px;
    
    
}
.wrapper .content .header{
    padding: 20px;
     text-align: center;
     font-size:30px;
     text-transform: uppercase;
    
}
.wrapper .content thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.wrapper .content th,.content td{
    padding: 12px 15px;

}
.wrapper .content tbody  {
border-bottom: 1px solid #dddddd;
}
.file_selecter{
    font-size: 20px;
}

.download{
display: flex;
position: relative;
margin-top:15%;
border: green;
display: block;
}

button{
   
   position: relative;
    font-size: 15px;
    text-align: center;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    margin-left: 60px;
    width: 150px;
    background: #a5d1a1;
}


    

