*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
background-color:yellow;
border-bottom:1px solid black;

}

h1 {
    text-align: center;
    background-color: #B7FFB5;
    border-bottom:1px solid black;

}

/*
.sidebar{
    height: 100%; 
    width: 25%; 
    position: fixed; 
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111; 
    overflow-x: hidden;
    padding-top: 20px;
    color: aliceblue;
    float: left;
} 
.sidebar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
}

.sidebar h2{
    background-color: green;
    color:yellow;
    font-size:20px;
    height: 5rem;
}

.main-content{
    height: 100%; 
    width: 75%; 
    top: 0;
    background-color: aliceblue; 
    overflow-x: hidden;
    padding-top: 20px;
    padding-left: 20px;
    padding: 20px;
    float: right;
} 

.main-content create-exam{
    
    padding: 20px;

}

.main-content h1{
    color: #111;
}


.upload-btn{
    color: green;
}

label{
    color: black;
    padding: 20px;
}

.option{
    color: black;
}

.modules{
    background-color:rebeccapurple;
}


.flexbox-container-1{
    padding-left: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
 .column-3{
	  position:relative;
	  
  }
  
.column-3{
	  top:200px;
	  right:200px;
	  position:absolute;
	  
}
  */

  












/*****PM*****/

table {
    margin: 100px 0 0 40px;
    font-color: black;
    color: black;
}

table tr {
 }

table tr td {
    width: 180px;

}

label {
    margin: 10px;
    margin-bottom: 50px;

}

select, #upload {
    margin: 10px;
    margin-bottom: 50px;
    padding: 3px;
    width: 200px;
    text-align: center;
    border-radius: 7px;
    border: 1px solid grey;

}

#create {
    margin: 0 0 0 40%;
    width: 20%;
    padding: 5px 0;
    border-radius: 7px;
    border: 1px solid grey;
    font-size: 16px;
    background: linear-gradient(#FCFCFC,#F2F2F2,#DBDBDB);
}

#create:hover {
    color: #404040;
    cursor: pointer;
    background: linear-gradient(#40E8A9,#35C28D);
}


.none{
    display: none;
}