{% load static %}

<!doctype html>
<html lang="en">
  <head>
  	<title>Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- style sheets -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">	
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/Admin/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/Admin/exams.css' %}">
  </head>
  <body>
		
    {% include 'admin/navbar.html' %}


    <div id="content" class="p-4 p-md-5 pt-5">
    
        {% block content %}

          {% endblock %}            
    </div>
 </div>
</body>
</html>


